<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @prison.banner_url %>);">
  <div class="container">
    <h1><%= @prison.name %></h1>
    <%= link_to 'Sign Up', new_prison_criminal_path(@prison), class: 'btn btn-danger mt-2' %>
  </div>
</div>
<div class="container mt-3">
  <div class="cards">
    <% @prison.criminals.each do |criminal| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= criminal.photo.attached? ? cl_image_path(criminal.photo.key) : criminal.image_url %>)">
        <%= criminal.name %>
        <%= link_to new_criminal_charge_path(criminal), class: 'card-add-link' do  %>
          <i class="fa-solid fa-gavel"></i>
        <% end %>
        <%= link_to criminal_path(criminal), class: 'card-remove-link', data: { turbo_method: :delete, turbo_confirm: "Execute #{criminal.name}?" } do  %>
          <i class="fa-solid fa-skull"></i>
        <% end %>
        <div class="card-tags">
          <% criminal.crimes.each do |crime| %>
            <span><%= crime.name %></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
